@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", cursive;
    font-size: larger;
    
}
.protfolio-container{
    min-width:100vh ;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.left-container,.right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container{
    background:#262525;
    width: 70%;
    padding-left: 3rem;
}
.right-container{
background: linear-gradient(-45deg,#3877FF,#262525);
width: 30%;
}
.icons .fa-brands{
    color: #bbb;
    font-size: 4rem;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 200vh;
}
.content{
    margin-left: 4rem;
}
.content .intro{
    font-size: 5rem;
    color: white;
}
.content .intro span{
color: #3877FF;
}
.content h1{
    font-size: 8rem;
    color: #5d89ee;
}
.content .detail{
    font-size: 6rem;
    color:#fff;
    max-width: 58rem;
    margin: 4.1rem 0 3.5rem 0;
    line-height: 6rem;
}
.btn-container button{
    border: .1rem solid #5d89ee;
    font-size: 4rem;
    padding: .8rem 1.5rem;
    border-radius: 1rem;
}
button:nth-child(1){
    background: #3877FF;
}
button:nth-child(2){
    background-color: transparent;
    margin-left: 2rem;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg,transparent 50%, #262525 50%);
    width: 38rem;

}
.circle:nth-child(2){
   background-image: url("image/ssc\ photo\ 2\ ishan.jpg");
    width: 30rem;
    background-size: 100%;
}

